name: DevSecOps Pipeline

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  security-events: write
  actions: read

jobs:
  devsecops:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout code
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2️⃣ Setup Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      ############################################
      # 3️⃣ Analyse SAST CodeQL
      ############################################
      - name: Init CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: python

      - name: Run CodeQL
        uses: github/codeql-action/analyze@v3

      ############################################
      # 4️⃣ Analyse sécurité Python avec Bandit
      ############################################
      - name: Install Bandit
        run: pip install bandit

      - name: Run Bandit
        run: bandit -r api --severity-level high

      ############################################
      # 5️⃣ Scan des dépendances (Supply Chain)
      ############################################
      - name: Install Safety
        run: pip install safety

      - name: Dependency vulnerability scan
        run: safety check -r requirements.txt

      ############################################
      # 6️⃣ Build Docker image
      ############################################
      - name: Build Docker image
        run: docker build -t devsecops-api .

      ############################################
      # 7️⃣ Scan Docker avec Trivy
      ############################################
      - name: Trivy Scan
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: image
          image-ref: devsecops-api
          severity: CRITICAL,HIGH
          exit-code: 1
      ############################################
      # 8️⃣ Deployment (ONLY if pipeline is green)
      ############################################
      - name: Deploy application
        run: |
        echo "Deploying secure application..."
